<!doctype html>
<html>
<head>
    <title>Super Sprinter 3000</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
<div class="navbar-header">
      <a class="navbar-brand" href="{{url_for('show_stories')}}">Super Sprinter 3000</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{url_for('show_stories')}}">All Stories</a></li>
        <li><a href="{{url_for('add_new_story')}}">New Story</a></li>
      </ul>
    </div>
  </div>
</nav>
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
            <h1>Stories</h1>
            {% if stories.count()!=0 %}
            <table  class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Text</th>
                        <th>Criteria</th>
                        <th>Value</th>
                        <th>Estimation</th>
                        <th>Status</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for story in stories %}
                    <tr>
                        <td>{{story.id}}</td>
                        <td>{{story.title}}</td>
                        <td>{{story.text}}</td>
                        <td>{{story.criteria}}</td>
                        <td>{{story.business_value}}</td>
                        <td>{{story.estimation}}</td>
                        <td>{{story.status}}</td>
                        <td>
                            <form action="/story/{{story.id}}">
                                <button class="btn btn-default glyphicon glyphicon-pencil" type="submit">
                                </button>
                            </form>
                        </td>
                        <td>
                            <form action="/delete/{{story.id}}" method=post>
                                <button class="btn btn-default glyphicon glyphicon-remove" type="submit">
                                </button>
                            </form>

                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            {%endif%}
            <form action="{{url_for('add_new_story')}}">
                <input type="submit" class="btn btn-danger" value="Create"/></form>
            </div>
        </div>
    </div>
</body>
</html>